<!-- views/createStudent.ejs -->
<h2>Create Student</h2>

<form method="POST" action="/create-student">
  <input type="text" name="name" placeholder="Student Name" required />
  <br><br>
  <button type="submit">Create Student</button>
</form>
