<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
</head>
<body>

<h1>Admin Dashboard</h1>

<table border="1" cellpadding="10">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
  </tr>

  <% products.forEach(product => { %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td>₹<%= product.price %></td>
      <td><%= product.category %></td>
    </tr>
  <% }) %>
</table>

</body>
</html>
